men: <%= @quote.men %> <br>
women: <%= @quote.women %> <br>
min: <%= @quote.min %> <br>
max: <%= @quote.max %> <br>
bottles: <%= @quote.bottles %> <br>
venues: <%= @quote.venues %> <br>
date: <%= @quote.date %> <br>
comments: <%= @quote.comments %> <br>
city: <%= @quote.location %>
<p><%= link_to 'Start conversation', new_message_path(quote_id: @quote.id) %></p>