            <div data-role="header" data-tap-toggle="false" data-theme='a'>
                <a href='#sidebar' data-role="none"><img src="images/menu-icon.png" alt="sidebar" id="header-menu-icon" /></a>
                <h1 class="header-title">[header title]</h1>
            </div>

 <%= form_for @promotor do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.label "City" %>
  <%= f.text_field :location, :placeholder => "New York City" %> <br>
  <%= f.label "Email" %>
  <%= f.text_field :email %>
  <%= f.submit "Create Promotor Account" %>
<% end %>